@import "bootstrap/scss/bootstrap";

/* src/styles.css */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.content {
    padding: 20px;
}
/* 他のスタイル定義をここに追加していきます */